body {
    background: rgb(26, 25, 25);
    margin: 0;
    padding: 0;
}

/* Glitch effect styles */
.box {
    position: absolute;
    background: #000;
    background: url("../img/background_01.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow: hidden;  
}

/* index page styles */
.fa-volume-up, .fa-volume-mute {
    font-size: 25px;
    color: rgb(2, 100, 117);
    cursor: pointer;
}
.fa-volume-up:hover, .fa-volume-up:focus,
.fa-volume-mute:hover, .fa-volume-mute:focus  {
    color: rgb(73, 186, 206);;
}

#volume-container {
    position: absolute;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
}


#container {
    border: solid 2px black;
    border-radius: 10px;
    width: 60vw;
    height: 90vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("../img/background_01.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 3px 3px rgb(15, 15, 15);
}

#title-page {
    text-align: center;
    font-family: 'Cinzel', serif;
    z-index: 50;
}

#title {
    text-shadow: -1px -1px 5px rgba(41, 223, 255, 1), 1px -1px 5px rgba(41, 223, 255, 1), -1px 1px 5px rgba(41, 223, 255, 1), 1px 1px 5px rgba(41, 223, 255, 1);
    font-weight: 900;
    font-size: 6rem;
    padding: 0;
    margin-bottom: 3%;
}

#sub-title {
    font-size: 2.2rem;
    font-weight: 900;
    margin: 1% 0 ;
    text-shadow: -1px -1px 5px rgba(41, 223, 255, 0.5), 1px -1px 5px rgba(41, 223, 255, 0.5), -1px 1px 5px rgba(41, 223, 255, 0.5), 1px 1px 5px rgba(41, 223, 255, 0.5);
}

#start-btn {
    padding: 1% 2%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #000;
    color: rgb(2, 100, 117);
    border: solid 2px rgb(41, 223, 255);
    cursor: pointer;
    margin: 2% 0;
}

#start-btn:hover, #start-btn:focus {
    background-color: rgba(41, 223, 255, .5);
    border: solid 2px rgb(2, 100, 117);
    color: rgb(12, 60, 68);
}

#game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;

    margin-bottom: 2%;
    width: 100%;
    z-index: 50;
}

#game-paragraph {
    width: 90%;
    margin: 0 auto 2%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

.game-btn {
    padding: 1% 2%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #000;
    color: rgb(41, 223, 255);;
    border: solid 2px rgb(41, 223, 255);
    cursor: pointer;
    margin: 0.5% auto;
    width: 90%;
}

.game-btn:hover, .game-btn:focus {
    background-color: rgba(2, 100, 117, .5);
    border: solid 2px rgb(2, 100, 117);
}

.hidden {
    display: none;
}

.items-container {
    background-color: #000;
    border: solid 2px #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #000;
    position: absolute;
    top: -5;
}

.wardrobe-items-img {
    height: 200px;
    border-radius: 10px;
    margin: 1%;
}

/* .shoe {
    width: 400px;
} */

.inventory-add {
    border: solid 2px rgb(41, 223, 255);
    box-shadow: 0px 0px 2px 2px rgb(71, 71, 71);
    background-blend-mode: multiply;
}

/* style for screens 900px or less */

#small_screen{
    max-width: 90%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 5%;
    margin-top: 10%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 5px #000;
}

.small_screen_title {
    text-shadow: -1px -1px 5px rgba(41, 223, 255, 1), 1px -1px 5px rgba(41, 223, 255, 1), -1px 1px 5px rgba(41, 223, 255, 1), 1px 1px 5px rgba(41, 223, 255, 1);
    font-weight: 900;
    font-size: 4rem;
    padding: 0;
    margin-bottom: 3%; 
}

.small_screen_p {
    font-size: 1.5rem;
    color: #fff;
    width: 90%;
    margin: 3% auto;
}


/* Styles added through javascript */
.health-info {
    color: rgb(2, 100, 117);
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 5px;

    margin: 0; 
    padding: 0;
}

.inventory-screen {
    color: #fff;
    border: solid 2px #fff;
    box-shadow: 0px 0px 2px 3px rgb(107, 107, 107);
    z-index : 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    z-index: 50;
    background: rgb(92, 92, 92);
}

.inventory-list {
    font-size: 1.5rem;
    color: #fff;
    justify-content: space-evenly;
    max-width: 100%;
    list-style: none;
    padding: 0;
    margin: 1% 0 1% 2%;
}

li.inventory-item {
    font-size: 1.5rem;
    color: #fff;
    min-width: 100%;
    list-style: none;
}

li.inventory-item:hover {
    color: rgb(2, 100, 117);
    cursor: pointer;
}

@media screen and (max-width: 1200px) { 
    #title {
        font-size: 5rem;
        margin-bottom: 3%;
    }
    
    #sub-title {
        font-size: 1.5rem;
        margin-bottom: 2%;
    }
    
    .game-btn {
        padding: 1% 2%;
        font-size: 1rem;
        margin: 1% 0;
        width: 90%;
    }

    p#game-paragraph {
        font-size: 16px;
    }

    #game-btn {
        font-size: 1rem;
        width: 90%;
    }

    .wardrobe-items-img {
        height: 150px;
        border-radius: 10px;
        margin: 1%;
    }
    
}

@media screen and (max-width: 1700px) { 
    #game-paragraph {
        font-size: 1.3rem;
    }
}
